.result-container {
  display: flex;
  justify-items: center;
  align-items: center;

  height: 100vh;
  background-color: #000000;
  width: 100%;
}

.result_container_inner {
  display: flex;
  background-color: #4f4f4f;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  border-radius: 12px;
  margin:  0 auto;
  padding: 24px;
}

.result-container h1 {
  color: #333;
}

.result-card {
  background-color: #1e1e1e;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.result-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #00e676; /* bright green */
}

.result-subtitle {
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: 20px;
}

.result-status {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 50px;
  text-align: center;
  width: fit-content;
}

.result-status.pass {
  background-color: #00e67633;
  color: #00e676;
}

.result-status.good {
  background-color: #ffeb3b33;
  color: #ffeb3b;
}

.result-status.fail {
  background-color: #f4433633;
  color: #f44336;
}

.result-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.result-details div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #ffffff;
}

.result-details span {
  color: #b0b0b0;
}

.result-actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #00e676;
  color: #000000;
}

.btn.primary:hover {
  background-color: #00c853;
}

.btn.secondary {
  background-color: #2a2a2a;
  color: #ffffff;
}

.btn.secondary:hover {
  background-color: #616161;
}

 .loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
}
